img {
    max-width: 100%;
    height: auto;
}
.header {
    width: min(1920px, 100%);
}
.container {
    position: relative;
    width: min(1920px, 100%);
    min-height: 90vh;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    background: #F7F7F7;
    margin: 0 auto;
}
.header-content {
    width: min(1000px, 70%);
    display: flex;
    align-items: center;
}

.statsHeadingGCont {
    position: relative;
}
.sortCountries {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}
.clickToSortLabel {
    margin-right: 8px;
    color: #1A2C42;
}
.statsHeadingG {
    text-align: center;
    font-size: clamp(1.5rem, 2rem, 3vw);
    height: 12vh;
    padding: .5rem;
    display: grid;
    place-items: center;
    color: #1A2C42;
    background: #E0E0E0;
}
.overAllChartOpen {
    text-align: center;
    color: #757575;
    cursor: pointer;
    padding: 4px;
}
.overAllChartOpen:hover {
    color: #1A2C42;
}
.tabsContainer, .countriesStatsC {
    height: 70vh;
    padding-bottom: 2rem;
}
.countriesStatsC {
    position: relative;
}
.overAllChartContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    z-index: 10;
    display: none;
}
.overAllChartContainer--active {
    display: block;
}
.allTabs__tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    padding: 1rem;
    background: #7DA2A9;
}
.tab--yellow, .sortCountries__var--yellow {
    margin-top: .5rem;
    background: #ECAF44;
}
.sortCountries__var--yellow:hover {
    background: #FFC107;
}
.tab--green, .sortCountries__var--green {
    background: #5DAA68;
    margin-bottom: 1rem;
}
.sortCountries__var--blueGrey {
    background: #7DA2A9;
}
.sortCountries__var {
    width: 40px;
    height: 25px;
    margin: 0 0 0 1px;
    cursor: pointer;
}

.tabHeading {
    font-size: clamp(1.2rem, 1.5rem, 2vw);
    color: #1A2C42;
    pointer-events: none;
}
.tabQ {
    font-size: 1.3rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px;
    pointer-events: none;
}
.countriesContainer {
    width: 100%;
    height: 55vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: .5rem;
    justify-content: center;
    padding: .5rem 0 0;
    overflow-y: scroll;
}
.country {
    background: #EEEEEE;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem;
    border-bottom: 1px solid #BDBDBD;
    cursor: pointer;
    transition: all .5s;
}
.country:hover {
    background: #E0E0E0;
}
.country--hide {
    display: none;
}
.countryAttr {
    display: flex;
    align-items: center;
}
.countryName {
    margin-left: 10px;
    font-weight: 700;
    color: #1A2C42;
}
.countryStats {
    display: flex;
    font-size: 14px;
}
.countryStats > * {
    margin-left: 10px;
}
.countryStats :first-child {
    margin-left: 0;
}
.countryFlag {
    width: 30px;
}
.searchField {
    margin-left: 100px;
    width: 500px;
    height: 30px;
    padding: 4px 10px;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    transition: all .3s;
}
.footer {
    position: fixed;
    bottom: 0;
    width: min(1920px, 100%);
    margin: 0 auto;
    min-height: 8vh;
    padding: .5rem 2rem;
    background: #BDBDBD;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
}
.rsschool__logo {
    width: 70px;
}
.footer__rsschool {
    display: flex;
    align-items: center;
}
.github__logo {
    width: 30px;
    transition: all .3s;
}
.taskYear {
    margin-left: 20px;
    color: #1A2C42;
}
.footer__links {
    justify-self: end;
    display: flex;
    align-items: center;
}
.linksContainer {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.links__item {
    color: #757575;
    font-weight: 700;
}
.links__item:hover {
    color: #1A2C42;
}


@media (max-width: 650px) {
    .container {
        grid-template-columns: 1fr;
        align-items: start;
    }
    .searchField {
        width: 350px;
        margin-left: 0;
    }
    .tabsContainer {
        height: 65vh;
        padding-bottom: 0;
    }
    .footer {
        position: relative;
        top: 0;
    }
}
@media (max-width: 420px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    } 
    .searchField {
        width: 170px;
    }
    .github__logo {
        opacity: 0;
    }
}
@media (max-width: 370px) {
    .github__logo {
        display: none
    }
}
