.left-column {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 350px;
    column-gap: 10px;
    row-gap: 10px;

    &-content {
        width: 100%;
    }

    &-field {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        background: $color-bcg;
        border: 1px solid $color-border;
        border-radius: 5px;
        height: 65vh;
        max-height: 65vh;
    }

    &-form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        &-input {
            width: 80%;
            outline: none;
            border: none;
            padding: 5px;
            color: $color-primary;
            border-radius: 5px;
        }

        &-button {
            width: 15%;
        }
    }

    &-list {
        display: flex;
        width: 100%;
        flex-direction: column;
        row-gap: 5px;
        overflow: auto;

        &-content {
            height: 60vh;
            margin-right: 10px;
        }
    }

    &-item {
        @include font(13px, $color-primary, 400);
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: $color-primary;
            color: $color-border;
        }

        & img {
            width: 30px;
            height: 20px;
            pointer-events: none;
        }
    }

    &-total {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        background: $color-bcg;
        border: 1px solid $color-border;
        border-radius: 5px;

        &-count {
            @include font(50px, $color-primary, bold);
        }
    }
}

.list {
    &-number {
        width: 30px;
        pointer-events: none;
    }

    &-country {
        display: flex;
        margin-left: 3px;
        pointer-events: none;
        align-items: center;
    }

    &-death {
        @include font(15px, red, bold);
        pointer-events: none;
    }

    &-flag {
        margin-right: 5px;
    }
}

.hide {
    display: none;
}
