.main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: calc(100vh - 102px);

    &-content {
        width: 100%;
        padding: 10px;
        display: flex;
        column-gap: 10px;
        row-gap: 10px;
    }

    &-total {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background: $color-bcg;
        border: 1px solid $color-border;
        border-radius: 5px;

        &-title,
        &-count {
            font-size: 22px;
            font-weight: bold;
            color: red;
            line-height: 30px;
        }

        &-count {
            color: red;
        }
    }
}
