.center {
    display: flex;
    width: calc(100% - 45% - 20px);
    flex-direction: column;
    justify-content: space-between;

    &-top {
        width: 100%;
        background-color: $color-primary;
        height: 100%;
        border-radius: 5px;
    }
}
